
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

html,
body {
  font-family: "Fira Sans","Open Sans",sans-serif;
}

body {
  //padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
  //margin-top: 50px;
  background-color: #222222;
  //color: #9D9D9D;
  color: #fff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.hero-feature {
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  div[class="caption"] {
    min-height: 200px;
  }
}

div[class="footer-wrapper"] {
  margin-top: 50px;
  //border-top: 1px solid #ddd;
  //border-bottom: 1px solid #ddd;
  background-color: #222222;
  color: #fff;
}

.navbar-inverse {
  border-color: #222222;
  margin-bottom: 0px;
  border-radius: 0;
}

div[class="item"] {
margin: 10px;
}

footer {
  text-align: center;
  margin: 50px 0;
}
