

html,
body {
  font-family: "Open Sans",sans-serif;
}

body {
  //padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
  //margin-top: 50px;
  background-color: #000;
  //color: #9D9D9D;
  color: #fff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero-spacer {
    min-height: 100vh;
  }
}
.hero-feature {
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  div[class="caption"] {
    min-height: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    float: right;
    padding-top: 25vh;
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .aaron {
    text-align: center;
    float: left;
    width: 60%;
  }
}
.aaron img {
  width: 75%;
}

.container {
  text-align: justify;
}
.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div[class="video-wrapper"] {
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
}
.video-wrapper iframe {
  width: 100%;
}

.video-wrapper-home iframe {
  //width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.twitter-feed {
padding-left: 10px;
padding-right: 10px;
}


@media screen and (min-width: 1024px) {
  .video-wrapper {
    text-align: center;
  }
  .video-wrapper iframe {
    width: 640px;
    height: 480px;
  }
  .twitter-feed {
    width: 50%;
    float: right;
    margin-right: -20px;
  }
  .video-wrapper-home {
    width: 50%;
    padding-top: 70px;
    float: left;
    margin-left: 20px;
    padding-right: 40px;
  }
}

div[class="footer-wrapper"] {
  margin-top: 50px;
  //border-top: 1px solid #ddd;
  //border-bottom: 1px solid #ddd;
  background-color: #000;
  color: #fff;
}

.navbar-inverse {
  border-color: #000;
  background-color: #000;
  margin-bottom: 0px;
  border-radius: 0;
}

div[class="item"] {
  margin: 10px;
}

footer {
  text-align: center;
  margin: 50px 0;
}
